

<main>
    <div class="homepage">
        <!-- LEVEL NAVIGATION -->
        <%- include(
            './components/level-navigations.ejs',
            {
                navigation: [
                    {
                    btnName: 'Level 1 /',
                    btnClass: 'level1', 
                    },
                    {
                    btnName: 'Level 2 /',
                    btnClass: 'level2', 
                    },
                    {
                    btnName: 'Level 3 /',
                    btnClass: 'level3', 
                    },
                    {
                    btnName: 'Level 4',
                    btnClass: 'level4', 
                    },
                ],
            }
        )-%>

        <h1 class="title-level">Level 1</h1>

        <!-- FILTER -->
        
        <%- include(
            './components/filter.ejs', {
                filter: [
                    {
                    btnClass: 'sort',
                    btmName: 'Sort by', 
                    },
                    {
                    btnClass: 'color',
                    btmName:   'Color',
                    },
                    { 
                    btnClass: 'price',
                    btmName:   'Price',
                    },
                    {
                    btnClass: 'type',
                    btmName:   'Flower type',
                    },
                    {
                    btnClass: 'occasion',
                    btmName:   'Occasion',
                    },     
                ],
            } 
        )-%>

        <!-- DROPDOWNS LISTS -->        

        <%- include(
            './components/ul-dropdowns.ejs', {
                dropdown: [
                    {
                    lists: ['Color flowers', 'Type flowers', 'Price flowers', 'Adress magazin', 'Free'],
                    className: 'position',
                    },
                    {
                    lists: ['Blue','Yalow', 'Pink', 'Black', 'White','Red'],
                    className: 'position1',
                    },
                    { 
                    lists: ['10-20$', '20-30$', '30-40$', '40-50$', '50-60$'],
                    className: 'position2',
                    },
                    {
                    lists:['Rose', 'Anemone', 'Aster', 'Carnation', 'Clematis','Crocus'],
                    className: 'position3',
                    },
                    {
                    lists: ['Birthday', 'Anniversary', 'New Year', 'Wedding'],
                    className: 'position4',
                    },
                    ],
                }
            )-%>
        <!-- LINE -->
        <hr text-align="left">
        <!-- CARDS -->
        <article class="container">
        <%- include(
            './components/page1.ejs', {
                cards: [
                    {
                    urlImg: 'https://garden.tomsk.ru/image/data/flowers/bukety/standart/buket_krasivyi%20(1).jpg',             
                    name: 'Rose',
                    price: '42$',
                    priceS: '51$',
                    },
                    {
                    urlImg: 'https://garden.tomsk.ru/image/cache/data/flowers/podarki/krasivyi_buket_v_kraft_pakete%20(2)-750x750.jpg',            
                    name: 'Rose 1',
                    price: '32$',
                    priceS: '41$',
                    },
                    {
                    urlImg: 'https://daricvety.com/upload/iblock/27d/27dd552baed30a81e3a765dc102f34ee.jpg',           
                    name: 'Rose 2',
                    price: '41$',
                    priceS: '44$',
                    },
                    {
                    urlImg: 'https://art-flo.ru/image/cache/catalog/915-%282%29-1000x1000.jpg',             
                    name: 'Rose 3',
                    price: '32$',
                    priceS: '46$',
                    },
                    {
                    urlImg: 'https://роза-мимоза.рф/image/cache/catalog/product/rose3/31879501_1621340677934489_5461034407009714176_n-1000x1000.jpg',              
                    name: 'Rose 4',
                    price: '22$',
                    priceS: '31$',
                    },
                    {
                    urlImg: 'https://vjoy.cc/wp-content/uploads/2019/07/20-4.jpg',             
                    name: 'Rose 5',
                    price: '45$',
                    priceS: '65$',
                    },
                    {
                    urlImg: 'https://shumgam.ru/wp-content/uploads/3/e/2/3e248fe98475ad2c8e7ffe87e1489b29.jpg',              
                    name: 'Rose 6',
                    price: '33$',
                    priceS: '45$',
                    },
                    {
                    urlImg: 'https://anons.uz/media/uploads/2020/03/02/88346887_1647549152062429_2468747919000338432_o.jpg',              
                    name: 'Rose 7',
                    price: '32$',
                    priceS: '39$',
                    },
                    
                ],
            }
        )-%>

        <%- include(
            './components/page2.ejs', {
                cards: [
                    {
                    urlImg: 'https://rozamarket.by/image/cache/catalog/novetyulpani/Sinie_rozy_8_16023505-74x74.jpg',             
                    name: 'Rose',
                    price: '42$',
                    priceS: '51$',
                    },
                    {
                    urlImg: 'https://sunrose.com.ua/productsImgs/img949_main_l.jpg',            
                    name: 'Rose 1',
                    price: '32$',
                    priceS: '41$',
                    },
                    {
                    urlImg: 'https://img.s-fl.ru/img/catalog/big/c_642_790_518665149.jpg',           
                    name: 'Rose 2',
                    price: '41$',
                    priceS: '44$',
                    },
                    {
                    urlImg: 'https://www.rosemarkt.ru/resources/data/photos/5469f3199c9ca/big.jpg',             
                    name: 'Rose 3',
                    price: '32$',
                    priceS: '46$',
                    },
                    {
                    urlImg: 'https://romashkovo-24.ru/assets/images/products/24685/roza1-1.jpg',              
                    name: 'Rose 4',
                    price: '22$',
                    priceS: '31$',
                    },
                    {
                    urlImg: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsvxwCC2qGbj_zF7OITRW_aDLb565ysZhYXg&usqp=CAU',             
                    name: 'Rose 5',
                    price: '45$',
                    priceS: '65$',
                    },
                    {
                    urlImg: 'https://flowersmarket24.ru/wa-data/public/shop/products/31/47/4731/images/459/buket-2455.970.jpg',              
                    name: 'Rose 6',
                    price: '33$',
                    priceS: '45$',
                    },
                    {
                    urlImg: 'https://rozaomsk.ru/wa-data/public/shop/products/47/00/47/images/49/49.970.jpg',              
                    name: 'Rose 7',
                    price: '32$',
                    priceS: '39$',
                    },
                    
                ],
            }
        )-%>

                    <%- include(
            './components/page3.ejs', {
                cards: [
                {
                    urlImg: 'https://romashkovo-24.ru/assets/images/products/24685/roza1-1.jpg',              
                    name: 'Rose 1',
                    price: '22$',
                    priceS: '31$',
                    },
                    {
                    urlImg: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsvxwCC2qGbj_zF7OITRW_aDLb565ysZhYXg&usqp=CAU',             
                    name: 'Rose 2',
                    price: '45$',
                    priceS: '65$',
                    },
                    {
                    urlImg: 'https://flowersmarket24.ru/wa-data/public/shop/products/31/47/4731/images/459/buket-2455.970.jpg',              
                    name: 'Rose 3',
                    price: '33$',
                    priceS: '45$',
                    },
                    {
                    urlImg: 'https://rozaomsk.ru/wa-data/public/shop/products/47/00/47/images/49/49.970.jpg',              
                    name: 'Rose 4',
                    price: '32$',
                    priceS: '39$',
                    },
                    {
                    urlImg: 'https://роза-мимоза.рф/image/cache/catalog/product/rose3/31879501_1621340677934489_5461034407009714176_n-1000x1000.jpg',              
                    name: 'Rose 5',
                    price: '22$',
                    priceS: '31$',
                    },
                    {
                    urlImg: 'https://vjoy.cc/wp-content/uploads/2019/07/20-4.jpg',             
                    name: 'Rose 6',
                    price: '45$',
                    priceS: '65$',
                    },
                    {
                    urlImg: 'https://shumgam.ru/wp-content/uploads/3/e/2/3e248fe98475ad2c8e7ffe87e1489b29.jpg',              
                    name: 'Rose 7',
                    price: '33$',
                    priceS: '45$',
                    },
                    {
                    urlImg: 'https://anons.uz/media/uploads/2020/03/02/88346887_1647549152062429_2468747919000338432_o.jpg',              
                    name: 'Rose 8',
                    price: '32$',
                    priceS: '39$',
                    },
                    
                ],
            }
        )-%>


            <%- include(
            './components/page4.ejs', {
                cards: [
                    {
                    urlImg: 'https://garden.tomsk.ru/image/data/flowers/bukety/standart/buket_krasivyi%20(1).jpg',             
                    name: 'Rose',
                    price: '42$',
                    priceS: '51$',
                    },
                    {
                    urlImg: 'https://garden.tomsk.ru/image/cache/data/flowers/podarki/krasivyi_buket_v_kraft_pakete%20(2)-750x750.jpg',            
                    name: 'Rose 1',
                    price: '32$',
                    priceS: '41$',
                    },
                    {
                    urlImg: 'https://daricvety.com/upload/iblock/27d/27dd552baed30a81e3a765dc102f34ee.jpg',           
                    name: 'Rose 2',
                    price: '41$',
                    priceS: '44$',
                    },
                    {
                    urlImg: 'https://art-flo.ru/image/cache/catalog/915-%282%29-1000x1000.jpg',             
                    name: 'Rose 3',
                    price: '32$',
                    priceS: '46$',
                    },
                    {
                    urlImg: 'https://rozamarket.by/image/cache/catalog/novetyulpani/Sinie_rozy_8_16023505-74x74.jpg',             
                    name: 'Rose 4',
                    price: '42$',
                    priceS: '51$',
                    },
                    {
                    urlImg: 'https://sunrose.com.ua/productsImgs/img949_main_l.jpg',            
                    name: 'Rose 5',
                    price: '32$',
                    priceS: '41$',
                    },
                    {
                    urlImg: 'https://img.s-fl.ru/img/catalog/big/c_642_790_518665149.jpg',           
                    name: 'Rose 6',
                    price: '41$',
                    priceS: '44$',
                    },
                    {
                    urlImg: 'https://www.rosemarkt.ru/resources/data/photos/5469f3199c9ca/big.jpg',             
                    name: 'Rose 7',
                    price: '32$',
                    priceS: '46$',
                    },
                    
                ],
            }
        )-%>

    </article>

        <!-- BUTTON See More-->

        <section class="see-more">
            <button class="btn-main">See more</button>
        </section>
        
    </div>
</main>